@media (min-width: 500px) {
  .wrapper > .title {
    margin-top: 60px;
  }
  .live {
    height: 90px;
    width: 350px;
  }
  .live .logo {
    width: 90px;
  }
  .live .logo img {
    top: 5px;
    left: -15px;
  }
  .live .info {
    font-size: 20px;
  }
  .live .info .stat {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .wrapper > .title {
    margin-top: 60px;
  }
  .live {
    height: 80px;
    width: 300px;
  }
  .live .logo {
    width: 80px;
  }
  .live .logo img {
    top: 8px;
    left: -10px;
    width: 100px;
  }
  .live .info {
    font-size: 18px;
  }
  .live .info .stat {
    font-size: 14px;
  }
}
html {
  font-family: "Open Sans", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
body {
  transition: background 0.2s;
}
body.dark {
  color: #fff;
  background: #000;
}
body.dark a {
  color: #fff;
}
body.dark section div:first-child {
  border-bottom: 2px solid white;
}
body.dark .change {
  border: 5px solid white;
}
a:hover {
  text-decoration: underline;
}
.back {
  font-family: "Raleway", sans-serif;
}
.toggles,
.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggles {
  position: absolute;
  top: 0;
  right: 0;
}
.toggle {
  padding: 5px;
  margin: 15px;

  border-radius: 5px;
}
.toggle:hover {
  cursor: pointer;
}
.toggle .base {
  height: 20px;
  width: 50px;

  background: #ff0961;

  border-radius: 15px;
  border: 3px solid black;

  transition: background 0.5s;
}
.toggle.on .base {
  background: rgb(55, 55, 55);

  border: 3px solid white;
}
.toggle .base .nob {
  height: 20px;
  width: 20px;

  background: #fff;

  border-radius: 50%;

  transition: transform 0.5s;
}
.toggle.on .base .nob {
  transform: translateX(30px);
}
.wrapper > .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper > .title a {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.wrapper,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  border-radius: 15px;
}
section.marg {
  margin-top: 10vh;
}
section.marg.s {
  margin-top: 5vh;
}
section div:first-child {
  font-size: 30px;
  border-bottom: 2px solid black;
}
.change {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  color: #fff;

  padding-left: 10px;
  padding-right: 10px;
  margin: 15px;

  border-radius: 15px;
  border: 5px solid #000;

  background: linear-gradient(to right, #ff00b4, #ff0961);
}
.date,
.season {
  text-transform: uppercase;
}
.season {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
.season.cur {
  margin-top: 15px;
}
.live {
  display: flex;
  z-index: 2;

  margin-top: 60px;

  font-family: "Oswald";
  color: rgb(153, 153, 153);

  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;

  transition: opacity 1s;
}
.live.hidden {
  position: absolute;
  z-index: -1;

  opacity: 0;
  pointer-events: none;
}
.live .c {
  color: #ff0961;
}
.live .logo {
  background: linear-gradient(to right, #ff00b4, #ff0961);
  border-radius: 5px;
}
.live .logo img {
  position: relative;
}
.live .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;

  font-weight: 700;
  letter-spacing: 0.01rem;
}
